@page "/learn-blazor/bind-prop"

<div class="row">
    <div class="col-6 borber p-3">
        Is Active : <input type="checkbox" @bind="Product.IsActive" @bind:event="oninput"/>
        <br />
        <br />


        two way to bind data is to use the @@bind directive. This allows us to create a two-way binding between the UI and the property. In this example, we can bind the Price property of the Product object to an input field. When the user changes the value in the input field, it will automatically update the Price property in the Product object.
        <br />
        <br />
        Input Price =
        <input type="text" @bind="Product.Price" @bind:event="oninput" />
        <br />
        <br />
        Product Properties

        <select @bind="selectedProp">
            @foreach (var prop in Product.ProductProperties)
            {
                <option value="@prop.Key">
                    @prop.Key
                </option>
            }
        </select>
    </div>
    <div class="col-6 borber p-3">
        <h3>Product - Data Binding</h3>

        one way to bind data is to use the @@ symbol and reference the property directly in the markup. In this example, we have a Product object with properties Id, Name, and IsActive. We can display these properties in the UI by using the @@ symbol followed by the property name.
        <br />
        <br />
        Name : @Product.Name <br/>
        this product Is Active : @(Product.IsActive?"Active":"Inactive") <br />


        <br/>
        Selected Prop : @selectedProp
        <br/>
        @if(!string.IsNullOrEmpty(selectedProp))
        {
            <p>Selected Value : @Product.ProductProperties.FirstOrDefault(p=>p.Key==selectedProp)!.Value</p>
        }

        Price : @Product.Price
        <br />
        <br />
    </div>
</div>
<div class="row-cols-3">
    <h2 class="bg-success">Products List</h2>
    <table class="table table-striped">
        <thead>
        <th scope="col">
            Product Name
        </th>
        <th scope="col">
            Price
        </th>
        <th scope="col">
            Is Active
        </th>
        </thead>
        <tbody>
        @foreach (var product in ProductList)
        {
            <tr>
                <td>
                    <input type="text" @bind="product.Name" @bind:event="oninput"/>
                </td>
                <td>
                    <input type="text" @bind="product.Price" @bind:event="oninput"/>
                </td>
                <td>
                    <input type="checkbox" @bind="Product.IsActive" @bind:event="oninput"/>
                </td>
            </tr>
        }
        </tbody>
    </table>

</div>
<div class="row">
    <div>
        <h2> Product Summary</h2>
        @foreach (var product in ProductList)
        {
            <div class="col-5">Product Name : @product.Name</div>
            <div class="col-5">Product Price : @product.Price</div>
            <div class="col-5">Product Is Active :  @(product.IsActive ? "Active" : "Inactive") </div>
            <br/>
        }
    </div>
</div>

@code {
    string selectedProp =String.Empty;

    Product Product = new()
    {
        Id = 1, Name = "Apple", IsActive = true,
        ProductProperties =new List<Product_Prop>
        {
            new() {Id = 1, Key = "Color", Value ="Red"},
            new() {Id = 2,Key = "Size", Value = "20oz"},
            new() {Id=3,Key="Flavor",Value = "Rose"}
        }
    };

    List<Product> ProductList = new();

    protected override void OnInitialized()
    {
        ProductList.Add(new()
        {
            Id = 1,
            Name = "Midnight Blaze",
            IsActive = false,
            Price = 5.99,
            ProductProperties = new List<Product_Prop>()
            {
                new() { Id = 1, Key = "Flavor", Value = "Rose"},
                new() { Id = 2, Key = "Size", Value = "20oz"},
                new() { Id = 3, Key = "Color", Value="Purple" }
            }
        });

        ProductList.Add(new()
        {
            Id = 2,
            Name = "Blossom Lily",
            IsActive = true,
            Price = 10.59,
            ProductProperties = new List<Product_Prop>()
            {
                new() { Id = 1, Key = "Flavor", Value = "Lily" },
                new() { Id = 2, Key = "Size", Value = "18oz" },
                new() {Id = 3,Key = "Color",Value = "White"}
            }
        });        
    }

}
